.scrollup {
    position: fixed;
    right: 1.5rem;
    bottom: -30%;
    display: inline-flex;
    padding: .6rem;
    border-radius: .5rem;
    font-size: 1.15rem;
    color: white;
    z-index: 10;
    transition: .4s ease-in-out;
    background: rgb(38, 109, 169, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(27, 27, 71, .3);
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

.show-scroll {
    bottom: 3rem;
}