.news-flash {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.news-flash-image {
    width: 50%;
}

.news-flash-image img {
    width: 100%;
    height: 20em;
    border-radius: 10px;
}

.news-flash-content {
    width: 50%;
    height: auto;
    padding-left: 32px;
}

.news-flash-content h3 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 16px;
}

.news-flash-content p {
    text-align: justify;
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {
    .news-flash {
        margin-bottom: 48px;
    }

    .news-flash-content {
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px) {
    .news-flash {
        display: block;
    }

    .news-flash-image {
        width: 100%;
        margin-bottom: 32px;
    }

    .news-flash-content {
        width: 100%;
        padding: 0;
    }
}