.summary h3 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    /* gap: 20px; */
    row-gap: 32px;
}

.summary-content h4 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 16px;
}

.summary-content p {
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.summary-left {
    display: flex;
}

.summary-right {
    display: flex;
    flex-direction: row-reverse;
}

.summary-image {
    margin: auto 0;
}

.summary-image img {
    width: 200px;
    height: 200px;
}

.summary-right .summary-content {
    padding-left: 32px;
}

.summary-left .summary-content {
    padding-right: 32px;
}

@media screen and (max-width: 1024px) {
    .summary-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .summary-grid {
        row-gap: 32px;
    }
}

@media screen and (max-width: 542px) {

    .summary-left,
    .summary-right {
        display: block;
    }

    .summary-left .summary-content,
    .summary-right .summary-content {
        padding: 0;
        margin-bottom: 12px;
    }

    .summary-image {
        display: flex;
        justify-content: center;
    }
}