.funfact {
    position: relative;
    padding: 100px 0;
    height: 100%;
    background-color: #153C5D;
}

.funfact-heading {
    padding: 0 120px;
}

.funfact-heading h3 {
    font-size: 2.5em;
    margin-bottom: 48px;
}