.destination {
    position: relative;
    padding: 0 120px 80px;
    height: 100%;
    background-color: #153C5D;
}

.destination::before {
    content: "";
    background-image: url('../../../assets/images/destination/base.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.22;
}

.destination-content {
    padding-top: 60px;
}

.destination-heading {
    margin-bottom: 40px;
}

.destination-heading h3 {
    font-size: 2.5em;
}

.destination-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1280px) {
    .destination-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .destination-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .destination-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 684px) {
    .destination {
        padding: 0 60px 40px;
    }
}

@media screen and (max-width: 584px) {
    .destination-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}