.destination {
    padding: 0 120px 40px;
    height: 100%;
    background-color: #153C5D;
}

.destination-content {
    padding-top: 60px;
}

.destination-heading {
    margin-bottom: 40px;
}

.destination-heading h3 {
    color: white;
    font-size: 2.5em;
}

.destination-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}

@media (max-width: 1280px) {
    .destination-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .destination-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .destination-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}