.discover {
    padding: 0 80px;
    background: linear-gradient(to bottom, rgba(11, 11, 11, 0.4), rgba(11, 11, 11, 1)), url('/src/assets/images/discover/discover-background-ori.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.discover-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 160px 0 48px 0;
}

.discover-heading {
    width: 100%;
}

.discover-heading h2 {
    font-size: 3.75em;
}

.discover-heading h1 {
    font-size: 5em;
}

.discover-heading p {
    font-size: 1.5em;
    font-weight: 300;
    width: 80%;
    text-align: justify;
    margin: 8px 0 24px 0;
}

.discover-heading a {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.discover-heading a:hover {
    background-color: black;
    color: white;
}

.discover-clouds {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: absolute;
    left: 0;
    bottom: -150px;
}

.discover-clouds img {
    width: 100%;
    height: auto;
}

.discover-clouds img:nth-child(1) {
    width: 140%;
    height: auto;
}

.discover-clouds img:nth-child(2) {
    width: 120%;
    height: auto;
}

.discover-carousel {
    display: flex;
    align-items: center;
}

.carousel-item {
    padding: 32px;
}

.discover-carousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.swiper_container {
    width: 100%;
    margin: 0 auto;
}

.swiper-slide {
    height: 100%;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

@media screen and (max-width: 1024px) {
    .discover-content {
        grid-template-columns: 1fr;
        padding: 120px 0 48px 0;
    }

    .discover-heading h1 {
        font-size: 4em;
    }

    .discover-heading h2 {
        font-size: 3em;
    }

    .discover-heading p {
        font-size: 1.2em;
        /* width: 100%; */
    }

    .discover-heading button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .discover-carousel {
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .discover-content {
        padding: 80px 0 48px 0;
    }

    .discover-heading h1 {
        font-size: 3.5em;
    }

    .discover-heading h2 {
        font-size: 2.5em;
    }

    .discover-heading p {
        font-size: 1.1em;
    }

    .discover-heading button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .discover-carousel {
        width: 90%;
    }
}

@media screen and (max-width: 676px) {
    .discover {
        padding: 0 48px;
    }
}

@media screen and (max-width: 576px) {
    .discover {
        padding: 0 40px;
    }

    .discover-heading {
        width: 80%;
    }

    .discover-heading h1 {
        font-size: 3em;
    }

    .discover-heading h2 {
        font-size: 2em;
    }

    .discover-heading p {
        font-size: 1em;
    }

    .discover-heading button {
        padding: 6px 12px;
        font-size: 0.8em;
    }

    .discover-carousel {
        width: 85%;
        margin: 0;
    }
}

@media screen and (max-width: 532px) {
    .discover-carousel {
        width: 80%;
    }
}

@media screen and (max-width: 496px) {
    .discover-carousel {
        width: 60%;
    }
}