.content {
    margin-top: 60px;
    position: relative;
}

.content>.top-info {
    display: flex;
    position: absolute;
    top: -7vw;
    left: -2vw;
}

.content>.main-info {
    margin-top: 30px;
    font-weight: 300;
    opacity: 80%;
    color: white;
    width: auto;
    text-align: justify;
}

.content>.circle {
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(103, 46, 28, 100), rgba(26, 116, 142, 0))
}

.content>.top-info>.wayang {
    width: 17vw;
}

.content>.top-info>.title {
    margin-left: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.content>.top-info>.title>.cult-name {
    color: #F0DF99;
    font-size: 4vw;
}

.content>.top-info>.title>.year {
    color: white;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content>.top-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .content>.circle {
        width: 50vw;
        height: 50vw;
    }

    .content>.top-info>.wayang {
        padding: 0;
        width: 40vw;
    }

    .content>.top-info>.title {
        margin: 40px 0 0 0;
    }

    .content>.top-info>.title>.cult-name {
        color: #F0DF99;
        font-size: 10vw;
    }

    .content>.top-info>.title>.year {
        color: white;
        font-size: 8vw;
    }

    .content>.main-info {
        margin-top: 25vh;
        font-weight: 300;
        opacity: 80%;
        color: white;
        width: auto;
        text-align: justify;
    }
}

@media (max-width: 390px) {
    .content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content>.top-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .content>.circle {
        width: 50vw;
        height: 50vw;
    }

    .content>.top-info>.wayang {
        padding: 0;
        width: 40vw;
    }

    .content>.top-info>.title {
        margin: 40px 0 0 0;
    }

    .content>.top-info>.title>.cult-name {
        color: #F0DF99;
        font-size: 10vw;
    }

    .content>.top-info>.title>.year {
        color: white;
        font-size: 8vw;
    }

    .content>.main-info {
        margin-top: 16vh;
        margin-bottom: 10vh;
        font-weight: 300;
        opacity: 80%;
        color: white;
        width: auto;
        text-align: justify;
        font-size: small;
    }
}