.container {
    display: flex;
    margin-top: 160px;
    position: relative;
    flex-direction: column;
    align-items: end;
}

.container>.top-info {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    right: -2vw;
    top: -2vw;
}

.container>.main-info {
    margin-top: 30px;
    font-weight: 300;
    opacity: 80%;
    color: white;
    width: auto;
    text-align: justify;
}

.container>.circle {
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(214, 142, 49, 100), rgba(26, 116, 142, 0))
}

.container>.top-info>.image {
    width: 20vw;
    height: 30vh;
}

.container>.top-info>.title {
    margin-right: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.container>.top-info>.title>.cult-name {
    color: #F0DF99;
    font-size: 4vw;
}

.container>.top-info>.title>.year {
    color: white;
    font-size: 2vw;
}

@media (max-width: 1024px) {
    .container>.main-info {
        margin-top: 10vh;
        font-weight: 300;
        opacity: 80%;
        color: white;
        width: auto;
        text-align: justify;
    }

    .container>.top-info>.title {
        margin-right: 1vw;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;
        justify-content: end;
    }

    .container>.top-info>.title>.cult-name {
        color: #F0DF99;
        font-size: 4vw;
    }
}


@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>.top-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .container>.circle {
        width: 50vw;
        height: 50vw;
    }

    .container>.top-info>.image {
        padding: 0;
        width: 38vw;
    }

    .container>.top-info>.title {
        margin: 40px 0 0 0;
    }

    .container>.top-info>.title>.cult-name {
        color: #F0DF99;
        font-size: 10vw;
    }

    .container>.top-info>.title>.year {
        color: white;
        font-size: 6vw;
    }

    .container>.main-info {
        margin-top: 14vh;
        font-weight: 300;
        opacity: 80%;
        color: white;
        width: auto;
        text-align: justify;
        padding-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>.top-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .container>.circle {
        width: 50vw;
        height: 50vw;
    }

    .container>.top-info>.image {
        padding: 0;
        width: 40vw;
    }

    .container>.top-info>.title {
        margin: 40px 0 0 0;
    }

    .container>.top-info>.title>.cult-name {
        color: #F0DF99;
        font-size: 10vw;
    }

    .container>.top-info>.title>.year {
        color: white;
        font-size: 8vw;
    }

    .container>.main-info {
        margin-top: 16vh;
        font-weight: 300;
        opacity: 80%;
        color: white;
        width: auto;
        text-align: justify;
        font-size: small;
    }
}