::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d1c34;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1a2b47;
}

::-webkit-scrollbar-track {
    background-color: #7a8fa7;
    transition: background-color 0.3s ease;
}